html, body {
	margin: 0;
	padding: 0;
	box-sizing: border-box;

}

header {
	display: flex;
	width: 100%;
	background: gray;
}

header nav {
	display: flex;
	align-items: center;
	width: 100%;
	flex: 1;
	
}

header .logo {
	flex: 1;
	margin-left: 10px;
}

header nav ul {
	list-style-type: none;
	display: flex;
	flex: 8;
	align-content: center;

}

header nav ul li {
	
	flex: 1;
}

header nav ul li a {
	text-decoration: none;
}

main {
	display: flex;
}

main .carrusel {
	width: 100%;
	position: relative;
	margin: auto;
}

main .carrusel > .imagenes {
	display: none;
	width: 100%;
}

main .carrusel .prev, .next {
	cursor: pointer;
	position: absolute;
	top: 50%;
	width: auto;
	padding: 16px;
	margin-top: -22px;
	color: white;
	font-weight: bold;
	font-size: 18px;
	transition: 0.6s ease;
	border-radius: 0 3px 3px 0;
}

/* Position the "next button" to the right */
main .carrusel .next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
main .carrusel .prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* The dots/bullets/indicators */
.dot {
  cursor:pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

/*main .intro-content {
	
	width: 100%;
	
	background: lightblue;
	height: 100%;

}

main .intro-content .title {
	display: flex;
	justify-content: center;
}

main .intro-content .sub-title {
	display: flex;
	justify-content: center;
}*/