/* estilos del principales del sitio y el index*/
@import url('https://fonts.googleapis.com/css?family=Lobster');
body {
	font-family: 'Lobster', Georgia, "Times New Roman", Times, serif;
}

button {
	font-family: 'Lobster', Georgia, "Times New Roman", Times, serif;
}

#site-body {
	display: flex;
	min-height: 100vh;
	flex-direction: column;
	margin: 0;
}

.nav {
	height: 50px;
	margin: 0;
	background-color: gray;
	box-shadow: 0 2px 10px black;
}

.nav .logo {
	margin-left: 10px;
	color: white;
	float: left;
	width: 60px;
	height: 100%;
	text-align: center;
}

.nav .logo h1 {
	padding-top: 13px;
	margin: 0;

}

.nav nav {
	width: 100%;
	margin: 0 auto;
	float: left;
	height: 100%;

}

.nav nav ul {
	list-style-type: none;
	display: inline-block;
}

.nav nav ul li {
	display: inline;
	float: left;
	padding: 0 20px;
	height: 100%;
}

.nav nav ul a {
	text-decoration: none;
	padding: 16px 35px;
	color: white;
}

.nav nav ul li a:hover {
	background-color: #000000;
}


.icon {
	display: none;
	font-size: 15px;
	text-decoration: none;
	color: white;
	margin-top: 13px;
}

.icon:hover {
	color: black;
}

.nav-list-menu {
	/*width: 100%;*/
	/*border: 1px solid black;*/
}

@media screen and (max-width: 768px) {
	.nav nav ul li:not(:first-child) {
		display: none;
	}
	.nav nav a.icon {
		margin-right: 10px;
		float: right;
    	display: block;
    	top: 0;
		right: 0;
		text-align: right;
	}
	.nav .nav-list-menu {
		text-align: center;
	}
	.nav {
		height: auto;
	}
}

@media screen and (max-width: 768px) {
	.nav nav ul li {
		display: block;
		margin-bottom: 10px;

	}
	.nav-list-menu .responsive {
		float: none;
		display: block;
		text-align: center;
	}
}

main {
	flex: 1;
}

.carrusel {
	width: 100%;
	position: relative;
	margin: auto;
}

.carrusel img {
	width: 100%;
	height: auto;
}

.carrusel > .imagenes {
	display: none;
	width: 100%;
}

.carrusel .prev {
	cursor: pointer;
	position: absolute;
	top: 50%;
	width: auto;
	padding: 16px;
	margin-top: -22px;
	color: white;
	font-weight: bold;
	font-size: 18px;
	transition: 0.6s ease;
	border-radius: 0 3px 3px 0;
}

.carrusel .prev:hover {
  background-color: rgba(0,0,0,0.8);
}

.carrusel .next {
	cursor: pointer;
	position: absolute;
	top: 50%;
	width: auto;
	padding: 16px;
	margin-top: -22px;
	color: white;
	font-weight: bold;
	font-size: 18px;
	transition: 0.6s ease;
	border-radius: 3px 0 0 3px;
	right: 0;
}

.carrusel .next:hover {
	background-color: rgba(0,0,0,0.8);
}

.text {
  color: white;
  font-size: 35px;
  padding: 8px 0px;
  position: absolute;
  top: 8px;
  right: 8px;
  width: 100%;
  text-align: right;
  text-shadow: -2px 2px 10px black;
  font-weight: bold;
  font-family: 'Century Gothic';
}

.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {
  	opacity: .4
  } 
  to {
  	opacity: 1
  }
}

@keyframes fade {
  from {
  	opacity: .4
  } 
  to {
  	opacity: 1
  }
}

.intro {
	position: relative;
	text-align: center;
}

footer {
	background-color: gray;
	height: 50px;
	margin-top: 10px;
	box-shadow: 0 -2px 10px black;
}

@media screen and (max-width: 1000px) {
	.text {
		visibility: hidden;
	}
}

@media screen and (max-width: 400px) {
	.series-list {
		padding-left: 2px;
	}
}

/*fin estilos principales y el index*/

/*inicio estilos pagina de series*/

.navbar-fixed {
    top: 0;
    z-index: 100;
  	position: fixed;
    width: 100%;
}

.nav-list {
	background-color: black;
	width: 100%;
	display: flex;
	margin-bottom: 10px;
	position: sticky;
}

.series-nav {
	flex: 1;
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	/*width: 100%;*/
	/*border: 2px solid red;*/
}

/*@media screen and (max-width: 768px) {
	.series-nav {
		width: 100%;
	}
}*/

.series-nav .series-list {
	color: white;
	list-style-type: none;
	flex: 1;
	display: flex;
	padding: 0 10px;
}

.series-nav .series-list li {
	flex: 1;
}

.series-nav .series-list li a {
	display: inline-block;
	position: relative;
	transition: all 0.2s ease-in-out;
}

.series-nav .series-list li a:link, a:visited { 
	text-decoration: none;
	color: white;	
}

.series-nav .series-list li a:hover {
	transform: scale(1.8);
}

.series {
	display: flex;
	flex: 1;
	flex-wrap: wrap;
	align-content: center;
	margin: 0 auto;
}

.tv-series {
	height: 400px;
	width: 400px;
	flex: 1;
	display: flex;
	align-items: center;
	flex-direction: column;
}

.tv-series img {
	width: 200px;
	height: auto;
	border: 1px solid gray;
	display:flex;

}

.tv-series .series-title {
	flex: 1;
	display: flex;
	width: 200px;
	align-items: center;
	margin: 0 auto;
	border: 1px solid gray;
	margin-bottom: 20px;

}

.tv-series .series-title h3 {
	margin: 0 auto;
}

.series-section {
	width: 100%;
	margin-left: 10px;
	margin-top: 30px;
	margin-right: 15px;
}

.letter2 {
	display: inline-block;
}

.letter {
	display: block;
	top: -100px;
	position: relative;
	visibility: hidden;

}

#go-top {
	display: none;
	position: fixed;
	bottom: 20px;
	right: 30px;
	z-index: 50;
	background-color: black;
	color: white;
	cursor: pointer;
	padding: 8px;
	border: none;
	outline: none;
	border-radius: 5px;
}

#go-top:hover {
	background-color: gray;
}


.loader {
	border: 16px solid lightgray;
	border-top: 16px solid black;
	border-radius: 50%;
	width: 120px;
	height: 120px;
	animation: spin 2s linear infinite;
	margin-top: 10%;
	margin-right: auto;
	margin-left: auto;
}

@keyframes spin {
	0% { transform: rotate(0deg); }
	100% { transform: rotate(360deg); }
}

#series-info {
	display: none;
	position: fixed;
	z-index: 1;
	padding-top: 10px;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: auto;
	background-color: rgb(0,0,0);
	background-color: rgba(0,0,0,0.4);
}


.modal-content {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    width: 90%;

    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    -moz-box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s;
    border-radius: 10px;
    font-family: 'Century Gothic';
}

@keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
}

#close {
    color: white;
    font-size: 28px;
    font-weight: bold;
    flex: 1;
    justify-content: flex-end;
    text-align: right;
    order: 1;
}

#close:hover,
#close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.modal-header {
    padding: 2px 16px;
    background-color: lightgray;
    /*color: white;*/
    height: 50px;
    display: flex;
    border-radius: 10px 10px 0 0;
}

.series-header {
    width: 50%;
    order: 0;
	flex: 11;
}

.modal-body {
	padding: 2px 16px;
	min-height: 400px;
	display: flex;
	flex: 1;
	flex-wrap: wrap;
}

.series-image img {
	max-height: 350px;
	width: auto;
}

.series-image {
	display: flex;
	flex: 1;
	margin: auto;
}
.summary {
	display: flex;
	flex:7;
	flex-direction: column;
	padding: 0 20px;
	padding-top: 23px;
}

.modal-footer {
    padding: 2px 16px;
    background-color: lightgray;
    color: white;
    height: 50px;
    border-radius: 0 0 10px 10px;
}

#series-site {
	cursor: pointer;
	text-decoration: none;
	color: blue;
}

#hr-series {
	height: 12px;
	border: 0;
	box-shadow: inset 0 10px 6px -6px #777;
	border-radius: 5px 5px 0 0;
}

html {
	scroll-behavior: smooth;
}

/* fin estilos pagina de series */

/* Inicio pagina de Horarios */
.filters {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	flex-direction: column;
	margin-top: 2%;
}

.filters label {
	width: 100%;
	text-align: center;
}

.filters #series-name {
	border: none;
	outline: none;
	height: 30px;
	font-size: 16px;
	border-bottom: 2px solid gray;
	transition: 0.5s ease-in-out;
	width: 200px;
	text-align: center;
}

.filters #series-name:hover {
	border-bottom: 2px solid black;
}

.filters #series-name:focus {
	font-size: 20px;

}

.filters .button-group {
	display: flex;
	flex: 1;
	justify-content: center;
}

.filters #search {
	width: 200px;
	padding: 10px;
	border: none;
	outline: none;
	cursor: pointer;
}

.filters #search:hover { 
	background-color: black;
	color: white;
}


.filter-group {
	display: flex;
	flex: 1;
	flex-wrap: wrap;
	justify-content: center;
}

#schedules {
	width: 80%;
	display: flex;
	flex-direction: column;
	font-size: 12px;
	margin: auto;

}

.schedule-content {
	display: flex;
	flex: 1;
	border: 1px solid black;
	flex-wrap: wrap;
	margin: 10px 0 0 0;
	font-family: 'Century Gothic';
}

.schedule-content div {
	/*padding: 0 10px;*/
	/*border-right: 1px solid black;*/
}

.schedule-content > * {
	width: 16.66%;

}

.schedule-content .header {
	background-color: gray;
	height: 30px;
	overflow: hidden;
	display: flex;
	flex: 1;
	justify-content: center;
	align-items: center;
}

.schedule-content .content {
	display: flex;
	flex: 1;
	margin: 0 3px;
	justify-content: center;
}

@media screen and (max-width: 768px) {
	.schedule-content > * {
		width: auto;
	}
}
/* Fin Pagina de Horarios*/

/* Inicio de pagina de contacto */

.contact-info {
	float: left;
	/*border: 1px solid red;*/
	width: 45%;
	margin-left: 30px;
	margin-top: 10px;
	/*height: 100%;*/
}

.powered a {
	color: gray;
	text-decoration: none;
	font-weight: bold;
}

.powered a:hover {
	color: #4B4B4B
}

.contact {
	width: 100%;
}

.picture {
	margin-top: 10px;
	width: 100%;
	text-align: center;
}

.picture img {
	height: 150px;
	width: 150px;
	border-radius: 50%;
	display: block;
}

.contact-form {
	/*width: 475px;*/
	/*margin-top: 2%;*/
	float: right;
	margin-right: 20px;
	/*margin-right: 10%;*/
	width: 45%;
}


form {
	width: 100%;
}

label {
	display: block;
	width: 100%;
}

form input, form textarea {
	outline: none;
	border: none;
	border-bottom: 3px solid #B99595;
	margin-bottom: 10px;
	width: 100%;
	background-color: transparent;
}

form input:focus {
	border-bottom-color: #341818
}

form textarea:focus {
	border-bottom-color: #341818
}

form textarea {
	resize: none;
}

fieldset {
	padding: 25px;
	background-color: #EAEAEA;
	box-shadow: -5px 5px 5px #949494;
	border-radius: 5px;
}

form button {
	border: none;
	outline: none;
	width: 100%;
	background-color: #5A5555;
	color: white;
	font-weight: bold;
	height: 30px;
	margin-bottom: 3px;
	border-radius: 5px;
}

form button:hover {
	background-color: #303030;
}

@media screen and (max-width: 768px) {
	.contact-info {
		width: 90%;
		margin-right: 10px;
	}
	.contact-form {
		width: 90%;
		margin-left: 20px;
	}
}


/* Fin de pagina de contacto */


/* estilo de pie de pagina */
.footer-content {
	color: white;
	width: 100%;
	text-align: center;
}

.footer-content p {
	margin: 0;
	margin-top: 10px;
}
/* fin estilo pie de pagina */