/* estilos del principales del sitio y el index*/
#site-body {
	display: flex;
	min-height: 100vh;
	flex-direction: column;
	margin: 0;
}

.nav {
	background-color: gray;
	height: 50px;
	display: flex;
	align-items: center;
}

.nav .logo {
	flex: 1;
	margin-left: 10px;
	color: white;
}

.nav nav {
	display: flex;
	align-items: center;
	width: 100%;
	flex: 1;
	max-width: 1200px;
	margin: 0 auto;
}

.nav nav ul {
	list-style-type: none;
	display: flex;
	flex: 8;
	align-content: center;
}

.nav nav ul li {
	flex: 1;
}

.nav nav ul li a {
	text-decoration: none;
	font-weight: bold;
	color: white;
	padding: 15px 30%;
}

.nav nav ul li a:hover {
	background-color: #000000;
}

main {
	flex: 1;
}

.carrusel {
	width: 100%;
	position: relative;
	margin: auto;
}

.carrusel img {
	width: 100%;
	height: auto;
}

.carrusel > .imagenes {
	display: none;
	width: 100%;
}

.carrusel .prev {
	cursor: pointer;
	position: absolute;
	top: 50%;
	width: auto;
	padding: 16px;
	margin-top: -22px;
	color: white;
	font-weight: bold;
	font-size: 18px;
	transition: 0.6s ease;
	border-radius: 0 3px 3px 0;
}

.carrusel .prev:hover {
  background-color: rgba(0,0,0,0.8);
}

.carrusel .next {
	cursor: pointer;
	position: absolute;
	top: 50%;
	width: auto;
	padding: 16px;
	margin-top: -22px;
	color: white;
	font-weight: bold;
	font-size: 18px;
	transition: 0.6s ease;
	border-radius: 3px 0 0 3px;
	right: 0;
}

.carrusel .next:hover {
	background-color: rgba(0,0,0,0.8);
}

.text {
  color: #596DC4;
  font-size: 35px;
  padding: 8px 0px;
  position: absolute;
  top: 8px;
  right: 8px;
  width: 100%;
  text-align: right;
  text-shadow: -2px 2px #7E7B7B;
  font-weight: bold;
  font-family: sans-serif;
}

.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

.intro {
	position: relative;
	text-align: center;
}

footer {
	background-color: gray;
	height: 50px;
	margin-top: 10px;
}

@media screen and (max-width: 1000px) {
	.text {
		visibility: hidden;
	}
}
/*fin estilos principales y el index*/

/*inicio estilos pagina de series*/

.navbar-fixed {
    top: 0;
    z-index: 100;
  	position: fixed;
    width: 100%;
}

.nav-list {
	background-color: black;
	width: 100%;
	display: flex;
	margin-bottom: 10px;
	position: sticky;
}

.series-nav {
	flex: 1;
	display: flex;
	align-items: center;
}

.series-nav .series-list {
	color: white;
	list-style-type: none;
	flex: 1;
	display: flex;
}

.series-nav .series-list li {
	flex: 1;
	/*flex-wrap: wrap;*/
}

.series-nav .series-list li a {
	display: inline-block;
	position: relative;
	transition: all 0.2s ease-in-out;
}

.series-nav .series-list li a:link, a:visited { 
	text-decoration: none;
	color: white;
	
}

.series-nav .series-list li a:hover {
	transform: scale(1.8);
}

.series {
	display: flex;
	flex: 1;
	flex-wrap: wrap;
	align-content: center;
	margin: 0 100px;
}

.tv-series {
	height: 400px;
	width: 400px;
	flex: 1;
	display: flex;
	align-items: center;
	flex-direction: column;
	/*border: 1px solid gray;*/


}

.tv-series img {
	width: 200px;
	height: auto;
	border: 1px solid gray;

}

.tv-series .series-title {
	flex: 1;
	display: flex;
	width: 200px;
	align-items: center;
	margin: 0 auto;
	border: 1px solid gray;
	margin-bottom: 10px;
}

.tv-series .series-title h3 {
	margin: 0 auto;
}

.series-section {
	width: 100%;
	margin-left: 10px;
	margin-top: 30px;
	margin-right: 15px;
	/*border: 1px solid blue;*/
	/*display: flex;*/
}

.letter {
	display: inline-block;
}

#return-top {
	float: right;
	margin-top: 25px;
	padding: 8px;
	display: inline-block;
	border: none;
	outline: none;
}

#return-top:hover {
	cursor: pointer;
}


.loader {
	border: 16px solid lightgray;
	border-top: 16px solid black;
	border-radius: 50%;
	width: 120px;
	height: 120px;
	animation: spin 2s linear infinite;
	margin-top: 10%;
	margin-right: auto;
	margin-left: auto;
}

@keyframes spin {
	0% { transform: rotate(0deg); }
	100% { transform: rotate(360deg); }
}

#series-info {
	display: none;
	position: fixed;
	z-index: 1;
	padding-top: 10px;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: auto;
	background-color: rgb(0,0,0);
	background-color: rgba(0,0,0,0.4);
}


.modal-content {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    width: 90%;

    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s;
    border-radius: 10px;
    /*display: flex;*/
}

@keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
}

#close {
    color: white;
    font-size: 28px;
    font-weight: bold;
    flex: 1;
    justify-content: flex-end;
    text-align: right;
    order: 1;
    /*border: 1px solid red;*/
}

#close:hover,
#close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.modal-header {
    padding: 2px 16px;
    background-color: lightgray;
    color: white;
    height: 50px;
    display: flex;
    border-radius: 10px 10px 0 0;
}

.series-header {
    width: 50%;
    order: 0;
	flex: 11;
	/*border: 1px solid red;*/
}

.modal-body {
	padding: 2px 16px;
	min-height: 400px;
	display: flex;
	flex: 1;
	flex-wrap: wrap;
}

.series-image img {
	max-height: 350px;
	width: auto;
	/*width: 300px;*/
	/*height: auto;*/
	/*margin: auto;*/
	/*flex: 1;*/
}

.series-image {
	display: flex;
	flex: 1;
	margin: auto;
}
.summary {
	display: flex;
	flex:7;
	flex-direction: column;
	padding: 0 20px;
	padding-top: 23px;
}

.modal-footer {
    padding: 2px 16px;
    background-color: lightgray;
    color: white;
    height: 50px;
    border-radius: 0 0 10px 10px;
}

#series-site {
	cursor: pointer;
	text-decoration: none;
	color: blue;
}



/* fin estilos pagina de series 